{% extends 'front.html.twig' %}

{% block titre %}New RendezVous{% endblock %}

{% block body %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <div class="col-lg-12">
        <div class="appointment-action ptb-100">


                            {{ form_start(form, {'attr': {'id': 'form'}}) }}

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            Titre :<br>{{ form_widget(form.title, {  'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>

                    <div class="col-lg-12">

                        Heure Debut :{{ form_widget(form.start, {  'attr': {'class': 'form-group'} }) }}

                    </div>

                    <div class="col-lg-12">
                        Heure Fin : {{ form_widget(form.end, {  'attr': {'class': 'form-group'} }) }}

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            Description :{{ form_widget(form.description, {  'attr': {'class': 'form-group'} }) }}
                        </div>
                    </div>

                    <div class="col-12">
                        <input type="submit" value="Enregistrer" class="btn btn-success"/>
                    </div>
                </div>
                {{ form_end(form) }}

        </div>
    </div>
    <script>
        const form= document.getElementById('form');
        const errorElement= document.getElementById('errorElement');
     
        form.addEventListener('submit',(e)=> {
            let message = [];

            var h = document.getElementById('rendez_vous_start_time_hour').value;
            console.log(  ' hello', h)
            if( h>17 || h<8 ){
                swal("Oops...","heure de travaille entre 8H et 17H","error" );
                message.push('Vérifier Votre Heure')
            }

            if(message.length> 0){
                e.preventDefault();
                errorElement.innerText = message.join(', ')
            }

        })
    </script>


{% endblock %}
